@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

:root {
  --white: #ffffff;
  --black: #000000;
  --light-black: #272727;
  --gray: #797979;
  --tan: #e2e0d4;
  --light-tan: #decbb1;
  --light-orange: #d8b26e;
  --orange: #d27b42;
  --dark-orange: #6b4500;
  --accent-blue: #0093e5;
  --yellow: #efdd39;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "DM Sans", sans-serif;
  height: 100%;
}

main {
  height: 100vh;
  width: 100%;
}

/* Generic styles */
.underline {
  text-decoration: underline;
}

.container {
  width: 1080px;
  margin: auto;
}

@media screen and (min-width: 1250px) {
  .container {
    width: 1100px;
  }
}

@media screen and (max-width: 1250px) {
  .container {
    width: 950px;
  }
}

@media screen and (max-width: 1100px) {
  .container {
    width: 900px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    width: 800px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    width: 700px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: 600px;
  }
}

@media screen and (max-width: 700px) {
  .container {
    width: 500px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 450px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 350px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 300px;
  }
}

.blue-accent {
  color: var(--accent-blue);
  font-weight: bold;
}

.orange-accent {
  color: var(--orange);
  font-weight: bold;
}

/* Nav */

nav {
  width: 100%;
  padding: 25px 0;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1150px;
}

.nav-container .logo h1 {
  font-size: 36px;
  font-weight: bold;
}

.nav-container .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.nav-links .hamburger {
  display: none;
}

.nav-links ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links ul li {
  list-style: none;
}

.nav-links ul li a {
  text-decoration: none;
  color: var(--light-black);
  font-size: 20px;
  font-weight: 400;
}

.nav-shop .shopping-cart .fas {
  font-size: 22px;
  cursor: pointer;
}

@media screen and (max-width: 1250px) {
  nav .nav-container {
    width: 1000px;
  }
}

@media screen and (max-width: 1150px) {
  nav .nav-container {
    width: 950px;
  }
}

@media screen and (max-width: 1000px) {
  nav .nav-container {
    width: 800px;
  }
}

@media screen and (max-width: 900px) {
  nav .nav-container {
    width: 700px;
  }
}

@media screen and (max-width: 800px) {
  nav .nav-container {
    width: 600px;
  }

  .nav-container .nav-links {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  nav .nav-container {
    width: 500px;
  }
}

@media screen and (max-width: 600px) {
  nav .nav-container {
    width: 450px;
  }
}

@media screen and (max-width: 500px) {
  nav .nav-container {
    width: 350px;
  }
}

@media screen and (max-width: 400px) {
  nav .nav-container {
    width: 300px;
  }
}

/* Landing */
.landing {
  position: relative;
  width: 100%;
  height: 80%;
}

.landing::before {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 400px;
  height: 300px;
  background-color: var(--tan);
  z-index: -1;
}

/* .landing::after {
  position: absolute;
  content: "";
  top: 90px;
  left: 0;
  width: 25px;
  height: 125px;
  background-color: var(--light-orange);
} */

.landing .landing-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing-container .main-section {
  height: 100%;
  padding: 75px 0;
  display: flex;
  align-items: center;
}

.main-section .main-header {
  justify-items: flex-end;
}

.main-section .main-header h1 {
  font-size: 55px;
  width: 85%;
}

.main-section .main-description {
  padding: 20px 0;
}

.main-section .main-description p {
  color: var(--gray);
  font-size: 24px;
  padding: 10px 0;
  width: 85%;
  line-height: 175%;
}

.call-to-action {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.call-to-action .action-btn {
  position: relative;
  font-size: 24px;
  color: var(--light-black);
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 0 10px 15px;
  margin: 10px 0;
  margin-right: 25px;
}

.action-btn .fas {
  margin-left: 15px;
}

.action-btn#explore .fas {
  color: var(--light-orange);
}

.action-btn#explore::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--orange);
  z-index: -1;
  animation: reverseHoverBtn 0.5s ease-in;
}

.action-btn#shop .fas {
  color: var(--orange);
}

.action-btn#shop::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--light-orange);
  z-index: -1;
  animation: reverseHoverBtn 0.5s ease-in;
}

.action-btn#explore:hover::before {
  animation: hoverBtn ease-in 0.5s forwards;
}

.action-btn#shop:hover::before {
  animation: hoverBtn ease-in 0.5s forwards;
}

@keyframes hoverBtn {
  0% {
    border-radius: 50%;
    left: 0;
  }
  50% {
    border-radius: 25px;
    width: calc(72%);
  }
  100% {
    left: calc(100% - 35px);
    width: 50px;
  }
}

@keyframes reverseHoverBtn {
  0% {
    left: calc(100% - 35px);
    width: 50px;
  }
  50% {
    border-radius: 25px;
    width: calc(72%);
  }
  100% {
    border-radius: 50%;
    left: 0;
  }
}

.showcase {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.showcase .glasses-model {
  position: relative;
  margin-bottom: 35px;
}

.showcase .glasses-model .img {
  position: relative;
}

.showcase .glasses-model .img .arrows {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.glasses-model .arrows .fas {
  position: absolute;
  font-size: 28px;
  color: var(--gray);
  transform: translateY(-50%);
  top: 50%;
  cursor: pointer;
}

.glasses-model .arrows .left {
  left: -28px;
}

.glasses-model .arrows .right {
  right: -28px;
}

.showcase .glasses-model .img #img-slider {
  display: flex;
  width: 425px;
  height: 500px;
  overflow-x: hidden;
}

.showcase .glasses-model .img #img-slider img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.showcase .glasses-model .img #img-slider img.current {
  z-index: 3;
  animation-fill-mode: forwards;
}

@keyframes moveIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveOut {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.showcase .glasses-model .glasses-type {
  display: flex;
  position: absolute;
  left: -90px;
  bottom: 0;
  width: 175px;
  height: 145px;
  padding: 10px;
  background-color: var(--light-tan);
  z-index: -1;
}

.showcase .glasses-type h2 {
  transform: rotate(-90deg) translateX(35px) translateY(10px);
}

.showcase .glasses-type .fas {
  color: var(--white);
  font-size: 24px;
  transform: translateX(-55px) translateY(75px);
}

@media screen and (max-width: 1110px) {
  .main-section .main-header h1 {
    font-size: 48px;
  }

  .showcase .glasses-model .img {
    width: 375px;
    height: 450px;
  }
}

@media screen and (max-width: 1000px) {
  .main-section .main-description p {
    font-size: 22px;
  }
}

@media screen and (max-width: 900px) {
  .landing::before {
    width: 375px;
  }

  .main-section .main-header h1 {
    width: 95%;
  }

  .showcase .glasses-model {
    margin-bottom: 75px;
  }

  .showcase .glasses-model .img {
    width: 350px;
    height: 400px;
  }

  .showcase .glasses-model .glasses-type {
    left: 100%;
    bottom: calc(100% - 70px);
    width: 175px;
    height: 145px;
    transform: translateX(-100%);
    display: flex;
    justify-content: space-around;
  }

  .glasses-model .glasses-type h2 {
    transform: translateY(10px);
  }

  .glasses-model .glasses-type .fas {
    transform: rotate(90deg) translateX(15px);
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 800px) {
  main {
    height: auto;
  }

  .landing {
    min-height: 100vh;
  }

  .landing::before {
    width: 400px;
  }

  .landing .landing-container {
    flex-direction: column;
  }

  .landing-container .showcase {
    height: auto;
  }

  .main-section .main-description p {
    width: 100%;
  }

  .showcase .glasses-model .glasses-type {
    left: 75px;
    bottom: 0;
  }

  .showcase .glasses-type h2 {
    transform: rotate(-90deg) translateX(40px) translateY(10px);
  }

  .showcase .glasses-type .fas {
    color: var(--white);
    font-size: 24px;
    transform: translateX(-70px) translateY(75px);
  }

  .showcase .glasses-model .img {
    width: 425px;
    height: 500px;
  }
}

@media screen and (max-width: 700px) {
  .showcase .glasses-model .glasses-type {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .showcase .glasses-model .img {
    width: 400px;
    height: 475px;
  }
}

@media screen and (max-width: 500px) {
  .landing::before {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 250px;
    height: 250px;
    background-color: var(--tan);
    z-index: -1;
  }

  .showcase .glasses-model .img {
    width: 325px;
    height: 400px;
  }
}

@media screen and (max-width: 400px) {
  .landing-container .main-section {
    padding: 50px 0;
  }

  .call-to-action {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .showcase .glasses-model .img {
    width: 300px;
    height: 375px;
  }
}

@media screen and (max-width: 375px) {
  .showcase .glasses-model .img {
    width: 275px;
    height: 350px;
  }
}

@media screen and (max-width: 350px) {
  .glasses-model .arrows .fas {
    position: absolute;
    font-size: 28px;
    color: var(--gray);
    top: calc(100% + 28px);
  }

  .glasses-model .arrows .left {
    left: 0px;
  }

  .glasses-model .arrows .right {
    right: 0px;
  }
}

/* Mission */
#mission {
  padding: 125px 0;
}

#mission h2 {
  color: var(--gray);
  font-size: 48px;
  font-weight: 500;
}

/* About */
.about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container {
  position: relative;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 75px;
}

.about-container::before {
  position: absolute;
  content: "ABO";
  right: -75px;
  top: -75px;
  z-index: 1;
  font-size: 144px;
  font-weight: bold;
  mix-blend-mode: multiply;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: var(--light-black);
  -webkit-text-fill-color: transparent;
}

.about-container::after {
  position: absolute;
  content: "UT";
  left: -75px;
  bottom: -75px;
  z-index: 1;
  font-size: 144px;
  font-weight: bold;
  mix-blend-mode: multiply;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: var(--light-black);
  -webkit-text-fill-color: transparent;
}

.about-container .about-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
      133deg,
      rgba(126, 126, 126, 0.33) 0%,
      rgba(126, 126, 126, 0.33) 100%
    ),
    url("../assets/images/nyc.jpg");
  filter: grayscale(2);
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}

.about-container .about-description {
  z-index: 1;
  width: 45%;
}

.about-container .about-description h2 {
  font-size: 64px;
  color: var(--white);
}

.about-container .about-img-card {
  position: absolute;
  left: 50%;
  bottom: -50px;
  width: 500px;
  height: 600px;
  transform: translateX(-50%);
  background-image: url("../assets/images/women.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: -1;
}

.about-container .about-img-card #about-model {
  width: 500px;
  height: 600px;
}

.about-img-card .established {
  background-color: var(--light-tan);
  width: 100%;
  padding: 15px 15px;
}

.about-img-card .established p {
  font-size: 34px;
  font-weight: bold;
}

.about-container .about-location {
  position: absolute;
  top: 100px;
  right: 35px;
  transform: rotate(90deg);
  z-index: 1;
  height: 85%;
}
.about-location h3 {
  width: 550px;
  font-size: 48px;
  color: var(--dark-orange);
}

@media screen and (max-width: 1100px) {
  .about-container::before {
    right: -50px;
    font-size: 125px;
  }

  .about-container::after {
    left: -50px;
    font-size: 125px;
  }

  .about-container .about-img-card {
    width: 450px;
    height: 575px;
  }

  .about-container .about-img-card #about-model {
    width: 450px;
    height: 575px;
  }
}

@media screen and (max-width: 1000px) {
  .about-container .about-img-card {
    transform: translateX(-100%);
    left: 100%;
  }

  .about-container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .about-container .about-description {
    z-index: 1;
    width: 50%;
    transform: translateX(0%);
    padding: 10px 0;
  }

  .about-container .about-location {
    position: static;
    width: 50%;
    height: auto;
    transform: rotate(0deg);
    z-index: 1;
    padding: 10px 0;
  }

  .about-container .about-location h3 {
    color: var(--light-black);
    font-size: 40px;
    padding: 5px 0;
    width: 95%;
  }
}

@media screen and (max-width: 900px) {
  .about .about-container {
    padding: 0 50px;
  }

  .about-container .about-img-card {
    width: 450px;
    height: 550px;
  }
}

@media screen and (max-width: 800px) {
  .about-container .about-img-card {
    width: 400px;
    height: 550px;
  }

  .about-container .about-description {
    width: 75%;
  }

  .about-container .about-description h2 {
    font-size: 55px;
  }

  .about-container .about-location h3 {
    font-size: 36px;
  }
}

@media screen and (max-width: 700px) {
  .about-container .about-img-card {
    display: none;
  }

  .about-container .about-description {
    width: 100%;
  }

  .about-container .about-location {
    width: 75%;
  }
}

@media screen and (max-width: 600px) {
  .about-container::before {
    right: 0px;
    top: -75px;
  }

  .about-container::after {
    left: 0px;
    bottom: -75px;
  }
}

@media screen and (max-width: 500px) {
  .about .about-container {
    padding: 0 25px;
  }

  .about-container::before {
    font-size: 100px;
  }

  .about-container::after {
    font-size: 100px;
  }

  .about-container .about-location {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .about-container .about-description h2 {
    font-size: 48px;
  }

  .about-container .about-location h3 {
    font-size: 32px;
  }
}

/* Product  */
.product {
  min-height: 100vh;
}

.product .product-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-container .product-content {
  width: 100%;
  height: 85%;
  padding: 125px 0;
}

.product-content .product-intro h2 {
  position: relative;
  font-size: 75px;
}

.product-content .product-intro h2::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 12px;
  height: 25px;
  width: 150px;
  background-color: var(--light-orange);
  z-index: -1;
}

.product-content .product-intro p {
  font-size: 36px;
  color: var(--gray);
  padding: 50px 0;
  line-height: 150%;
}

.product-content .products .top-sellers h3 {
  position: relative;
  font-size: 36px;
  padding-left: 25px;
}

.product-content .products .top-sellers h3::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 15px;
  height: calc(100% + 25px);
  background-color: var(--light-orange);
}

.products .top-sellers .top-sellers-glasses {
  margin-top: 50px;
}

.top-sellers .top-sellers-glasses {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top-sellers-glasses .product-card {
  position: relative;
  width: 280px;
  height: 280px;
  cursor: pointer;
  margin-bottom: 50px;
}

.top-sellers-glasses .product-card:hover img {
  width: 115%;
  height: 115%;
}

.top-sellers-glasses .product-card::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 80px;
  background-color: var(--light-orange);
  opacity: 40%;
  border-radius: 3px 0 0 3px;
}

.product-card .product-name {
  position: absolute;
  left: 20px;
  top: 20px;
  color: var(--light-black);
  font-size: 36px;
}

.product-card .price {
  position: absolute;
  bottom: 20px;
  right: -20px;
  color: var(--gray);
  font-size: 30px;
  font-weight: 400;
}

.product-card .img {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.product-card .img img {
  border-radius: 3px;
  width: 100%;
  height: 100%;
  transition-property: width height;
  transition-duration: 333ms;
  transition-timing-function: ease-out;
}

@media screen and (max-width: 1000px) {
  .top-sellers .top-sellers-glasses {
    justify-content: center;
  }

  .top-sellers-glasses .product-card {
    margin: 0 25px 50px 25px;
  }
}

@media screen and (max-width: 430px) {
  .product-content .product-intro h2 {
    font-size: 65px;
  }
}

/* Reviews */

.reviews-content .reviews-head {
  text-align: right;
}

.reviews-head h2 {
  position: relative;
  font-size: 75px;
}

.reviews-head h2::before {
  position: absolute;
  content: "";
  right: 0;
  bottom: 12px;
  height: 25px;
  width: 150px;
  background-color: var(--light-orange);
  z-index: -1;
}

.reviews-content .review-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
}

.review-cards .review-card {
  position: relative;
  width: 280px;
  height: 325px;
  padding: 25px 50px;
  margin-bottom: 50px;
  border-radius: 3px;
  background-color: #f3f3f3;
  border-bottom: 25px solid var(--light-black);
  box-shadow: 0px 20px 23px 0px rgba(189, 189, 189, 0.75);
}

.review-cards .review-card:hover .review-bg::before {
  width: 175px;
  height: 175px;
}

.review-card .review-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  overflow: hidden;
}

.review-card .review-bg::before {
  position: absolute;
  content: "";
  top: -50px;
  right: -50px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #decbb18f;
  transition: all 333ms ease-in-out;
}

.review-card .review-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review-card-content .review {
  margin-top: 50px;
}

.review p {
  font-size: 24px;
  line-height: 140%;
  padding: 5px 0;
}

.review-card-content .review-img {
  transform: translateY(25%);
}

.review-card-content .review-img img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

@media screen and (max-width: 1000px) {
  .reviews-content .review-cards {
    justify-content: center;
  }

  .review-cards .review-card {
    margin: 0 25px 50px 25px;
  }
}

@media screen and (max-width: 430px) {
  .reviews-head h2 {
    font-size: 65px;
  }
}

/* Promotions */
.promotions {
  padding: 50px 0;
  margin-top: 100px;
  background-color: var(--light-tan);
}

.promotions-container .promotions-head h2 {
  font-size: 64px;
}

.promotions-container .promotions-head p {
  color: var(--gray);
  font-size: 30px;
  padding: 25px 0 50px 0;
  line-height: 150%;
}

.promotions-container #sign-up {
  width: 75%;
  display: flex;
  align-items: center;
  background-color: var(--white);
  padding: 33px 33px;
  border-radius: 5px;
  box-shadow: 0 10px 33px -10px #27272762;
}

#sign-up input[type="email"] {
  width: 65%;
  border: none;
  background-color: #efeded;
  color: var(--gray);
  font-size: 22px;
  padding: 25px;
  border-radius: 5px;
  outline: none;
}

#sign-up .submit {
  display: inline-block;
  position: relative;
  margin-left: 33px;
  z-index: 3;
}

#sign-up .submit::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: var(--orange);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  z-index: -1;
  animation: 0.5s reverseHoverBtn ease-in forwards;
}

#sign-up .submit:hover::before {
  animation: hoverBtn ease-in 0.5s forwards;
}

#sign-up .submit button[type="submit"] {
  border: none;
  background: transparent;
  font-weight: bold;
  font-size: 22px;
  padding-left: 15px;
  outline: none;
  cursor: pointer;
}

#sign-up button[type="submit"] .fas {
  margin-left: 15px;
}

@media screen and (max-width: 900px) {
  .promotions-container #sign-up {
    width: 85%;
  }
}

@media screen and (max-width: 800px) {
  .promotions-container .promotions-head h2 {
    font-size: 55px;
  }

  .promotions-container .promotions-head p {
    font-size: 25px;
  }

  .promotions-container #sign-up {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .promotions-container #sign-up {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .promotions-container .promotions-head h2 {
    font-size: 48px;
  }

  .promotions-container .promotions-head p {
    font-size: 22px;
  }

  #sign-up input[type="email"] {
    width: 100%;
    margin-bottom: 25px;
  }

  #sign-up button[type="submit"] .fas {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .promotions-container #sign-up {
    padding: 33px 20px;
  }
}

/* Footer */
footer {
  color: var(--white);
  padding: 50px 0;
  background-color: var(--light-black);
}

.footer-container .footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-content .footer-main h2 {
  font-size: 64px;
}

.footer-main .footer-links {
  padding: 25px 0;
}

.footer-main .footer-links ul {
  display: flex;
  list-style: none;
}

.footer-main .footer-links ul li {
  margin-right: 25px;
}

.footer-links ul li a {
  color: var(--white);
  text-decoration: none;
}

.footer-main p {
  color: var(--light-orange);
}

.footer-content .footer-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-media .fab {
  font-size: 25px;
  margin-left: 25px;
}

@media screen and (max-width: 700px) {
  .footer-content .footer-media {
    flex-direction: column;
  }

  .footer-media .fab {
    margin: 10px 0;
  }
}

@media screen and (max-width: 430px) {
  .footer-content .footer-main h2 {
    font-size: 55px;
  }
}

@media screen and (max-width: 400px) {
  .footer-container .footer-content {
    flex-direction: column;
  }

  .footer-content .footer-media {
    margin-top: 25px;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }

  .footer-main .footer-links ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 75px);
    gap: 15px;
  }

  .footer-media .fab {
    margin-right: 50px;
  }
}
