@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

:root {
  --white: #ffffff;
  --black: #000000;
  --light-black: #272727;
  --gray: #797979;
  --tan: #e2e0d4;
  --light-tan: #decbb1;
  --light-orange: #d8b26e;
  --orange: #d27b42;
  --dark-orange: #6b4500;
  --accent-blue: #0093e5;
  --yellow: #efdd39;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "DM Sans", sans-serif;
  height: 100%;
}

main {
  height: 100vh;
  width: 100%;
}

/* Generic styles */
.container {
  width: 75%;
  margin: auto;
}

.blue-accent {
  color: var(--accent-blue);
}

/* Nav */

nav {
  width: 100%;
  padding: 25px 0;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.nav-container .logo h1 {
  font-size: 36px;
  font-weight: bold;
}

.nav-container .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.nav-links .hamburger {
  display: none;
}

.nav-links ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links ul li {
  list-style: none;
}

.nav-links ul li a {
  text-decoration: none;
  color: var(--light-black);
  font-size: 20px;
  font-weight: 550;
}

.nav-shop .shopping-cart .fas {
  font-size: 22px;
  cursor: pointer;
}

/* Landing */
.landing {
  position: relative;
  width: 100%;
  height: 85%;
}

.landing .landing-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.landing-container .main-section {
  width: 50%;
  height: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.main-section::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 220px;
  height: 450px;
  background-color: var(--light-tan);
  z-index: -1;
  border-left: 65px solid var(--tan);
}

.main-section .main-header {
  justify-items: flex-end;
}

.main-section .main-header h1 {
  font-size: 48px;
}

.main-section .main-description {
  margin-top: 75px;
}

.main-section .main-description p {
  color: var(--gray);
  font-size: 36px;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 15px;
}

.call-to-action .action-btn {
  position: relative;
  font-size: 24px;
  color: var(--light-black);
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 0 10px 15px;
  margin: 10px 0;
}

.action-btn .fas {
  margin-left: 15px;
}

.action-btn#explore .fas {
  color: var(--light-orange);
}

.action-btn#explore::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--orange);
  z-index: -1;
}

.action-btn#shop .fas {
  color: var(--orange);
}

.action-btn#shop::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--light-orange);
  z-index: -1;
}

.showcase {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.showcase .showcase-description {
  margin-right: 35px;
  transform: rotate(-90deg);
}

.showcase .showcase-description h2 {
  font-size: 78px;
  color: #9595953b;
}

.showcase .glasses-model {
  margin-bottom: 35px;
}

.showcase .glasses-model .img #model {
  width: 350px;
  height: 450px;
}

.showcase .glasses-model::before {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 400px;
  height: 300px;
  background-color: var(--tan);
  z-index: -1;
}

.showcase .glasses-type {
  display: flex;
  position: relative;
  left: -85px;
  top: 100px;
  width: 175px;
  height: 145px;
  padding: 10px;
  background-color: var(--light-tan);
  z-index: -1;
}

.showcase .glasses-type h2 {
  transform: rotate(-90deg) translateX(35px) translateY(10px);
}

.showcase .glasses-type .fas {
  color: var(--white);
  font-size: 24px;
  transform: translateX(-55px) translateY(75px);
}

/* Mission */
#mission {
  padding: 125px 0;
}

#mission h2 {
  color: var(--gray);
  font-size: 48px;
  font-weight: 500;
}

/* About */
.about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container {
  position: relative;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 75px;
}

.about-container::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
      133deg,
      var(--light-tan) 33%,
      rgba(226, 224, 212, 0.137) 100%
    ),
    url("../assets/images/nyc.jpg");
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}

.about-container .about-description {
  z-index: 1;
  width: 45%;
}

.about-container .about-description h2 {
  font-size: 64px;
  color: var(--white);
}

.about-container .about-img-card {
  position: absolute;
  left: 50%;
  bottom: -50px;
  width: 500px;
  height: 600px;
  transform: translateX(-50%);
  background-image: url("../assets/images/women.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.about-container .about-img-card #about-model {
  width: 500px;
  height: 600px;
}

.about-img-card .established {
  background-color: var(--light-tan);
  width: 100%;
  padding: 15px 15px;
}

.about-img-card .established p {
  font-size: 34px;
  font-weight: bold;
}

.about-container .about-location {
  position: absolute;
  right: 25px;
  top: 0;
  transform: rotate(90deg) translateX(150px);
  z-index: 1;
  height: 85%;
}

.about-location h3 {
  font-size: 55px;
  color: var(--dark-orange);
}
